
    <form class="needs-validation mt-4 mb-4" [formGroup]="form" novalidate>
      <div class="form-row row">
        <div class="col-md-8 col">
          <label for="inputNome">Nome</label>
          <input [(ngModel)]="nomeInput" type="text" class="form-control" formControlName="nome" id="inputNome" name="nome" placeholder="Nome completo" required>
          <div class="invalid-feedback">Nome inválido</div>
        </div>
        <div class="col-md-2 col">
          <label for="inputTelefone">Telefone</label>
          <input [(ngModel)]="telefoneInput" type="text" class="form-control" formControlName="telefone" id="inputTelefone" name="telefone" placeholder="18987654321" required>
          <div class="invalid-feedback">Telefone inválido</div>
        </div>
      </div>
      <div class="form-row row">
        <div class="col-md-4 col">
          <label for="inputEmail">Email</label>
          <input [(ngModel)]="emailInput" type="email" class="form-control" formControlName="username" id="inputEmail" name="email" placeholder="name@example.com" required>
          <div class="invalid-feedback">Email inválido</div>
        </div>
        <div class="col-md-4 col">
          <label for="inputPassword">Senha</label>
          <input [(ngModel)]="passwordInput" type="password" class="form-control" formControlName="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="inputPassword" name="password" placeholder="********" aria-describedby="passwordHelpBlock" required>
          <div class="invalid-feedback">Senha inválida</div>
          <div id="passwordHelpBlock" class="form-text">
            A senha deve conter 8-20 caracteres, letras e números, não conter espaços, caracteres especiais ou emoji.
          </div>
        </div>
        <div class="col-md-4 col mt-4">
          <div class="form-check form-check-inline">
            <input [(ngModel)]="roleRadio" class="form-check-input" formControlName="role" type="radio" name="role" id="inlineRadioPaciente" value="paciente" (change)="onChange()" required>
            <label class="form-check-label" for="inlineRadioPaciente">Paciente</label>
          </div>
          <div class="form-check form-check-inline">
            <input [(ngModel)]="roleRadio" class="form-check-input" formControlName="role" type="radio" name="role" id="inlineRadioPsicologo" value="psicologo" (change)="onChange()" required>
            <label class="form-check-label" for="inlineRadioPsicologo">Psicólogo</label>
          </div>
          @if(isCheckedPsicologo) {
            <div class="col-md-4 col">
              <label for="inputCRP">CRP</label>
              <input [(ngModel)]="crpInput" type="text" pattern="[0-9]{7}" class="form-control" formControlName="crp" id="inputCRP" name="crp" required>
              <div class="invalid-feedback">CRP inválido</div>
            </div>
          }
          <div class="invalid-feedback">
            Você deve selecionar paciente/psicólogo.
          </div>
        </div>
      </div>
    
      <div class="form-row row">
        <div class="col-md-4 col">
          <label for="inputAddress">Endereço</label>
          <input [(ngModel)]="enderecoInput" type="text" class="form-control" formControlName="endereco" id="inputAddress" name="endereco" placeholder="123 Main St" required>
          <div class="invalid-feedback">Endereço inválido</div>
        </div>
        <div class="col-md-2 col">
            <label for="inputCity">Cidade</label>
            <input [(ngModel)]="cidadeInput" type="text" class="form-control" formControlName="cidade" id="inputCity" name="cidade" required>
            <div class="invalid-feedback">Cidade inválida</div>
        </div>
        <div class="col-md-2 col">
            <label for="inputState">Estado</label>
            <select [(ngModel)]="estadoSelect" formControlName="estado" id="inputState" name="estado" class="form-control" required>
                @for(estado of estadosItems; track estado) {
                    @if(estado == 'SP') {
                        <option selected>{{ estado }}</option>
                    } @else {
                        <option>{{ estado }}</option>
                    }
                }
            </select>
            <div class="invalid-feedback">Estado inválido</div>
        </div>
        <div class="col-md-2 col">
            <label for="inputZip">CEP</label>
            <input [(ngModel)]="CEPInput" type="text" pattern="[0-9]{8}" class="form-control" formControlName="cep" id="inputZip" name="cep" required>
            <div class="invalid-feedback">CEP inválido</div>
        </div>
      </div>

      <div class="form-row row justify-content-md-center mt-4">
        <div class="col-md-2">
            @if(userId) {
                <button type="button" id="btnDelete" class="btn btn-outline-danger" (click)="deleteUser(userId)">Excluir</button>
            }
        </div>
        <div class="col-md-2">
            <button type="submit" id="btnUpdate" class="btn btn-primary">Atualizar</button>
        </div>
      </div>
    </form>
