@if(alertMessage) {
  <div class="alert m-3" [ngClass]="alertClass" role="alert">
    {{ alertMessage }}
  </div>
}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col card border-primary m-3 p-0">
      <div class="card-header bg-primary text-white">Cadastro</div>
      <div class="card-body">
        <div class="card-text">
          Faça o seu registro gratuitamente para acompanhar de forma prática sua saúde mental ou os seus pacientes!
        </div>
        <app-signin-form (registerEvent)="handleRegisterEvent($event)"></app-signin-form>
      </div>
    </div>
  </div>
</div>