<form class="needs-validation mt-4 mb-4" novalidate>
  <div class="form-row row">
    <div class="col-md-4 col">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com" required>
      <div class="invalid-feedback">Email inválido</div>
    </div>
    <div class="col-md-4 col">
      <label for="inputPassword">Senha</label>
      <input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="inputPassword" placeholder="********" aria-describedby="passwordHelpBlock" required>
      <div class="invalid-feedback">Senha inválida</div>
    </div>
    <div class="col-md-4 col mt-4">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="paciente" required>
        <label class="form-check-label" for="inlineRadio1">Paciente</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="psicologo" required>
        <label class="form-check-label" for="inlineRadio2">Psicólogo</label>
      </div>
      <div class="invalid-feedback">
        Você deve selecionar paciente/psicólogo.
      </div>
    </div>
  </div>

  <div class="form-row row">
    <div class="col-md-4 col">
      <label for="inputAddress">Endereço</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="123 Main St" required>
      <div class="invalid-feedback">Endereço inválido</div>
    </div>
    <div class="col-md-2 col">
        <label for="inputCity">Cidade</label>
        <input type="text" class="form-control" id="inputCity" required>
        <div class="invalid-feedback">Cidade inválida</div>
    </div>
    <div class="col-md-2 col">
        <label for="inputState">Estado</label>
        <select id="inputState" class="form-control" required>
            <option selected>Escolher...</option>
            @for(estado of estadosItems; track estado) {
                <option>{{ estado }}</option>
            }
        </select>
        <div class="invalid-feedback">Estado inválido</div>
    </div>
    <div class="col-md-2 col">
        <label for="inputZip">CEP</label>
        <input type="text" pattern="[0-9]{8}" class="form-control" id="inputZip" required>
        <div class="invalid-feedback">CEP inválido</div>
    </div>
  </div>

  <div class="form-row row justify-content-md-center mt-4">
    <div class="form-check col-md-4">
      <input class="form-check-input" type="checkbox" id="gridCheck" required>
      <label class="form-check-label" for="gridCheck">
        Eu li e concordo com os termos de uso
      </label>
      <div class="invalid-feedback">
        Você deve concordar antes de prosseguir.
      </div>
    </div>
  </div>
  <div class="form-row row justify-content-md-center mt-4">
    <div class="col-md-2">
        <button type="submit" id="btnSignin" class="btn btn-primary">Cadastrar</button>
    </div>
  </div>
</form>