<app-top-navbar></app-top-navbar>
<h3 class="mt-3">Laudos</h3>
@if(user.context == 'psicologo') {
    <form class="form-inline mt-3 mb-3">
        <div class="row">
            <div class="col">
                <input class="form-control mr-sm-2" type="search" placeholder="Nome do paciente" aria-label="Nome do paciente">
            </div>
            <div class="col">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </form>
}
<div class="m-5">
    <p class="mt-3">Laudos de {{ user.name }}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                @for(column of tableColumns; track column) {
                    <th scope="col">{{ column }}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for(laudo of laudosPaciente; track laudo.data) {
                <tr>
                    <th scope="row">
                        {{ laudo.data }}
                        @if((laudosPaciente.indexOf(laudo) + 1) == laudosPaciente.length) {
                            <span class="badge badge-pill badge-dark">Novo</span>
                        }
                    </th>
                    <td>{{ laudo.descricao }}</td>
                    <td>{{ laudo.cid }}</td>
                    <td><button type="button" class="btn btn-primary">Visualizar</button></td>
                    <td><button type="button" class="btn btn-primary">Download</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>